@{
    Layout = "_Layout";
}

@model Cantaoria.Application.Models.Requests.ProductRequests.UpdateProductRequest

<link href="~/css/bootstrap-imageupload.css" rel="stylesheet">
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Ürün Güncelle</h6>
        </div>
        <div class="card-body">
            <form id="productForm" method="post" enctype="multipart/form-data">
                <input asp-for="@Model.ID" type="hidden" />
                <input asp-for="@Model.OtherPhotosCount" type="hidden" />
                <input asp-for="@Model.MainPhotoURL" type="hidden" />

                @{
                    @if (Model != null && Model.OtherPhotosURL != null && Model.OtherPhotosURL.Count > 0)
                    {
                        foreach (var item in Model.OtherPhotosURL)
                        {

                            <input type="hidden" id="otherPhotosURLID" name="otherPhotoURL" value="@item" />
                        }
                    }

                }
                <div class="form-group">
                    <label for="name">Ürün Adı:</label>
                    <input asp-for="Name" type="text" class="form-control form-control-lg form-control-solid" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="description">Açıklama:</label>
                    <textarea asp-for="Description" class="form-control form-control-lg form-control-solid" id="description" name="description" rows="3" required></textarea>
                </div>

                <div class="form-group">
                    <label for="price">Fiyat:</label>
                    <input asp-for="Price" type="number" class="form-control form-control-lg form-control-solid" id="price" name="price" step="0.01" required>
                </div>
                <div class="form-group">
                    <label for="stockQuantity">Stok Miktarı:</label>
                    <input asp-for="StockQuantity" type="number" class="form-control form-control-lg form-control-solid" id="stockQuantity" name="stockQuantity" required>
                </div>
                <div class="form-group">
                    <label for="category">Kategori:</label>
                    <select asp-for="CategoryID" asp-items="@Model.Category" class="form-select form-select-lg form-select-solid" required>
                        <option value="" disabled selected>Seçiniz</option>
                    </select>
                </div>

                <div class="form-group d-flex flex-wrap">
                    <div class="imageupload panel panel-default mb-2">

                        <div class="panel-heading clearfix">
                            <label for="photos">Ana Fotoğraf:</label>
                        </div>

                        <div class="file-tab panel-body">
                            <div class="d-flex justify-content-between">
                                <label class="btn btn-primary btn-file  m-0" style="width:45%;">
                                    <i></i>
                                    <!-- The file is stored here. -->
                                    <input asp-for="MainPhoto" name="MainPhoto" type="file" id="MainPhotoInput">
                                </label>
                                <button type="button" class="btn btn-primary" style="width:45%;">X</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" id="add-photo-field" class="btn btn-success">Yeni Fotoğraf Alanı Ekle</button>
                    <button type="button" id="remove-last-field" class="btn btn-danger">Son Eklenen Alanı Sil</button>
                </div>

                <div class="form-group">
                    <div id="additional-photo-fields" class="d-flex flex-wrap"></div>
                </div>


                <button id="submit-button" type="submit" class="btn btn-primary">Kaydet</button>
                <a href="/Product/List" class="btn btn-info ">Vazgeç</a>
            </form>
        </div>
    </div>
</div>

<script src="~/Scripts/Tools/bootstrap-imageupload.js"></script>
<script src="~/Scripts/Tools/ProductUpdateTools.js"></script>